*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', 'sans-serif';
    background-color: white;
}

 .header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around; 
    padding: 50px;
 }

 .header-logo{
    font-size: 24px;
    color: #f9faf8;

 }


.nav-menu>li{
    display: inline;
    margin-right: 50px;
}
.nav-menu > li :last-of-type{
    margin-right: 0px;
}

a:link, a:visited{
    color: #f9faf8;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
 .menu-item{
    color:white ;
 }

 .hero{
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    padding: 50px;
    height: 400px;
    align-items: center;
    justify-content: space-around;

 }
 .hero >*{
    flex: 1;
 }
.hero-content{
    margin: auto;
    display: block;
}
 .hero-image{
    height: 200px;
    width: 400px;
    display: flex;
    background-color: grey ;
    align-items: center;
    justify-content: center;
 }
 .footer{
    background-color: #1f2937;
 }

 .hero-content{
    padding-left: 0px;
    margin-left: 0px;
    justify-content: flex-start;
 }



.hero-title{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.hero-desc{
    font-size: 18px;
    color:#e5e7eb;
}

.button{
    background-color: #3882f6;
    height: 2rem;
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
    width: fit-content;
}

 .main-content{
    background-color: #f9faf8;
    height: 500px;
 }
.main-content >*{
    padding: 5px;
}
.info{
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
    
}
.container-items{
    display: flex;
    padding: 0px 400px;
    justify-content: space-around;

}

 .box-container{
    width: 200px;
    text-align: center;
 }
.box{
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 10px;
}
 .main-quote{
    background-color: #e5e7eb ;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .quote{
    width: 60%;
    height: 80%;
    margin: auto;
    

 }
 .quote-text{
    font-size: 36px;
    font-weight: lighter ;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    
 }
 .quote-author{
    font-size:large;
    font-weight: bold;
    text-align: right;
    
 }

 .main-action{
    background-color: white;
    height: 300px;
    margin: auto;
    display: flex;
 }


.action-item{
    background-color: #3882f6;
    width: 80%;
    height: 200px;
    display: flex;
    margin: 50px auto;
    border-radius: 5px;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.action-button{
    border: 1px solid white;

}
footer{
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 50px;
}